//Devices
$phablet: 575px;
$tablet: 1024px;
$laptop: 1280px;

//Colors
$green: rgb(0, 116, 122);
$green-blue: rgb(0, 117, 152);
$blue: #8393ca;
$grey: #ebebeb;
$green: #57E4B0;
$pink: #ed7dbf;
$danger: #D65;

//Fonts
$font-head: "Bauhaus93";
$font-body: "OCR_A_Std";

//constants
$form-height: 18px;
$pink-shad: -8px 8px rgba(201, 131, 202, .4);
$border: 30px;
$bd-radius: 4px;
$txt-weight: 100;