@import '../helpers/_variables.scss';

@font-face {
  font-family: "Bauhaus93";
  src: url("../assets/Bauhaus93.ttf");
}

@font-face {
  font-family: "OCR_A_Std";
  src: url("../assets/OCR_A_Std.ttf");
}

html, body {
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: $font-body, sans-serif;
}

html {
  box-sizing: border-box;
}

  button{
    color: #fff;
    border: none;
    font-family: $font-body;
    font-size: 9px;
    text-transform: lowercase;
    letter-spacing: 1.2px;
    cursor: pointer;
    outline: inherit;
    height: $form-height;
    padding: 0 16px;
    border-radius: $bd-radius;
  }