@font-face {
  font-family: "Bauhaus93";
  src: url("../assets/Bauhaus93.ttf"); }

@font-face {
  font-family: "OCR_A_Std";
  src: url("../assets/OCR_A_Std.ttf"); }

html, body {
  height: 100%; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  margin: 0;
  padding: 0;
  font-family: "OCR_A_Std", sans-serif; }

html {
  box-sizing: border-box; }

button {
  color: #fff;
  border: none;
  font-family: "OCR_A_Std";
  font-size: 9px;
  text-transform: lowercase;
  letter-spacing: 1.2px;
  cursor: pointer;
  outline: inherit;
  height: 18px;
  padding: 0 16px;
  border-radius: 4px; }

.background1 {
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100vh;
  background-image: url("../assets/pattern-1.jpg");
  background-repeat: repeat;
  background-size: 350px;
  opacity: 0.1; }

.background2 {
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100vh;
  border-left: 30px solid blue;
  border-right: 30px solid blue;
  border-bottom: 30px solid blue;
  border-image-source: linear-gradient(135deg, #fda789 1%, #fdc689 30%, #fda789 60%, #fdc689 100%);
  border-image-slice: 20; }

.App {
  margin: 0 0 30px;
  display: flex;
  flex-direction: column; }
  .App .header {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    height: 100px;
    margin: -50px auto 0;
    width: 80%;
    background: linear-gradient(135deg, rgba(0, 116, 122, 0.67) 50%, rgba(0, 117, 152, 0.67) 100%);
    padding: 50px 30px 10px;
    border-radius: 30px;
    font-weight: 100; }
    .App .header .title {
      margin: 0 auto;
      color: #fff;
      font-family: "Bauhaus93";
      text-transform: uppercase;
      letter-spacing: 1.2px;
      font-size: 26px; }
    .App .header button {
      position: absolute;
      background: #ed9d7d;
      right: 30px;
      font-weight: 100; }
    @media (max-width: 575px) {
      .App .header {
        flex-direction: column;
        margin: -30px auto 0;
        padding: 30px 10px 10px; }
        .App .header button {
          position: relative;
          right: auto;
          margin: auto; } }

.list {
  margin-bottom: 50px; }
  .list .item {
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 350px;
    background: #ebebeb;
    box-shadow: -8px 8px rgba(201, 131, 202, 0.4);
    border-radius: 4px;
    padding: 8px 20px; }
    .list .item .head {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      font-size: 9px; }
      .list .item .head .email {
        font-size: 10px;
        font-weight: 100; }
        .list .item .head .email.incomplete {
          color: #8393ca; }
        .list .item .head .email.completed {
          color: #3ABA87; }
      .list .item .head .status {
        display: flex;
        align-items: center;
        color: #fff;
        background: #000;
        font-size: 9px;
        text-transform: lowercase;
        letter-spacing: 1.2px;
        height: 18px;
        padding: 0 16px;
        border-radius: 4px;
        margin-left: auto;
        margin-bottom: 5px;
        font-weight: 100; }
        .list .item .head .status.incomplete {
          background: #ed7dbf; }
        .list .item .head .status.completed {
          background: #57E4B0; }
    .list .item .task {
      background: #fff;
      height: auto;
      min-height: 20px;
      border: 1.5px solid #888;
      font-family: "OCR_A_Std";
      font-size: 10px;
      width: auto;
      padding: 5px;
      color: #777;
      font-weight: 100; }
    .list .item button {
      margin-left: auto;
      margin-top: 5px;
      background: #57E4B0;
      font-weight: 100; }
  .list .clear-btn {
    display: block;
    margin: 30px auto;
    background: #D65;
    font-weight: 100; }

.toggle {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  margin: 20px auto 0;
  background: #282827;
  list-style: none;
  height: auto;
  width: 70%;
  max-width: 300px;
  border-radius: 4px;
  box-shadow: -8px 8px rgba(201, 131, 202, 0.4); }
  .toggle input {
    display: none; }
  .toggle label {
    display: flex;
    align-items: center;
    height: 40px;
    opacity: 0.3;
    color: #fff;
    cursor: pointer;
    border-bottom: 3px solid #282827;
    padding: 0 8px;
    font-size: 13px;
    font-weight: 100; }
  .toggle input[type="radio"]:checked + label {
    border-bottom: 3px solid #ed7dbf;
    opacity: 1; }

.form {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 350px;
  margin: 30px auto;
  background: #ebebeb;
  box-shadow: -8px 8px rgba(201, 131, 202, 0.4);
  border-radius: 4px;
  padding: 8px 20px; }
  .form textarea {
    height: 80px;
    border: 1.5px solid #888;
    font-family: "OCR_A_Std";
    font-size: 10px;
    width: auto;
    padding: 5px;
    color: #777;
    font-weight: 100; }
  .form button {
    margin-left: auto;
    margin-top: 5px;
    background: #8393ca;
    font-weight: 100; }

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  padding-top: 20vh; }
  .container h2 {
    background: #282827;
    margin: auto;
    border-radius: 4px;
    box-shadow: -8px 8px rgba(201, 131, 202, 0.4);
    color: #fff;
    padding: 7px 20px;
    font-weight: 100; }
  .container .fields {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 350px;
    margin: 30px auto;
    background: #ebebeb;
    box-shadow: -8px 8px rgba(201, 131, 202, 0.4);
    border-radius: 4px;
    padding: 8px 20px; }
    .container .fields input {
      height: 30px;
      border: 1.5px solid #888;
      font-family: "OCR_A_Std";
      font-size: 10px;
      width: auto;
      padding: 5px;
      color: #777;
      margin-bottom: 5px;
      font-weight: 100; }
    .container .fields button {
      margin-left: auto;
      background: #8393ca;
      font-weight: 100; }
    .container .fields .error {
      margin: 5px auto 0;
      font-size: 13px;
      color: #D65;
      font-weight: 100; }
    .container .fields .link {
      margin: 5px auto 0;
      font-weight: 100; }

@-webkit-keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-moz-keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-o-keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes slide-in-left {
  0% {
    transform: translate(-100px, 0); }
  100% {
    transform: translate(0, 0); } }

@-moz-keyframes slide-in-left {
  0% {
    transform: translate(-100px, 0); }
  100% {
    transform: translate(0, 0); } }

@-o-keyframes slide-in-left {
  0% {
    transform: translate(-100px, 0); }
  100% {
    transform: translate(0, 0); } }

@keyframes slide-in-left {
  0% {
    transform: translate(-100px, 0); }
  100% {
    transform: translate(0, 0); } }

@-webkit-keyframes slide-in-right {
  0% {
    transform: translate(100px, 0); }
  100% {
    transform: translate(0, 0); } }

@-moz-keyframes slide-in-right {
  0% {
    transform: translate(100px, 0); }
  100% {
    transform: translate(0, 0); } }

@-o-keyframes slide-in-right {
  0% {
    transform: translate(100px, 0); }
  100% {
    transform: translate(0, 0); } }

@keyframes slide-in-right {
  0% {
    transform: translate(100px, 0); }
  100% {
    transform: translate(0, 0); } }

@-webkit-keyframes slide-in-up {
  0% {
    transform: translate(0, 15px); }
  100% {
    transform: translate(0, 0); } }

@-moz-keyframes slide-in-up {
  0% {
    transform: translate(0, 15px); }
  100% {
    transform: translate(0, 0); } }

@-o-keyframes slide-in-up {
  0% {
    transform: translate(0, 15px); }
  100% {
    transform: translate(0, 0); } }

@keyframes slide-in-up {
  0% {
    transform: translate(0, 15px); }
  100% {
    transform: translate(0, 0); } }

@-webkit-keyframes slide-in-down {
  0% {
    transform: translate(0, -15px); }
  100% {
    transform: translate(0, 0); } }

@-moz-keyframes slide-in-down {
  0% {
    transform: translate(0, -15px); }
  100% {
    transform: translate(0, 0); } }

@-o-keyframes slide-in-down {
  0% {
    transform: translate(0, -15px); }
  100% {
    transform: translate(0, 0); } }

@keyframes slide-in-down {
  0% {
    transform: translate(0, -15px); }
  100% {
    transform: translate(0, 0); } }

@-webkit-keyframes anim-shadow {
  0% {
    box-shadow: -0.1px 0.1px 0.1px 0.1px rgba(0, 0, 0, 0); }
  100% { } }

@-moz-keyframes anim-shadow {
  0% {
    box-shadow: -0.1px 0.1px 0.1px 0.1px rgba(0, 0, 0, 0); }
  100% { } }

@-o-keyframes anim-shadow {
  0% {
    box-shadow: -0.1px 0.1px 0.1px 0.1px rgba(0, 0, 0, 0); }
  100% { } }

@keyframes anim-shadow {
  0% {
    box-shadow: -0.1px 0.1px 0.1px 0.1px rgba(0, 0, 0, 0); }
  100% { } }

@-webkit-keyframes grow-skill {
  0% {
    transform: scale(0.92); }
  100% { } }

@-moz-keyframes grow-skill {
  0% {
    transform: scale(0.92); }
  100% { } }

@-o-keyframes grow-skill {
  0% {
    transform: scale(0.92); }
  100% { } }

@keyframes grow-skill {
  0% {
    transform: scale(0.92); }
  100% { } }

@-webkit-keyframes grow-card {
  0% {
    transform: scale(0.98); }
  100% { } }

@-moz-keyframes grow-card {
  0% {
    transform: scale(0.98); }
  100% { } }

@-o-keyframes grow-card {
  0% {
    transform: scale(0.98); }
  100% { } }

@keyframes grow-card {
  0% {
    transform: scale(0.98); }
  100% { } }
